#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  position: sticky;
  margin-top: -2rem;
  z-index: 1000;
  color: red;
  border-bottom: solid 2px red;
}
.header-logo {
  width: 25vw
}